#faq .flip {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#faq .flip:hover {
  transform: rotateY(180deg);
  transition: transform 1s;
}

#faq .front {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  font-family: 'Monserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  backface-visibility: hidden;
  /*box-shadow: 0 0 4px #000;*/
}

#faq .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'PT Serif';
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  vertical-align: middle;
  padding: 20px 40px;
  margin: auto;
  transform: rotateY(180deg);
  background: #FFFFFF;
  backface-visibility: hidden;
  /*box-shadow: 0 0 4px #000;*/
}
